.cajita1{
    border: darkkhaki;
    background-color: tomato;
    width: 80px;
    height: 80px;
    justify-content: start;
}
.cajita2{
    border: darkkhaki;
    background-color: aqua;
    width: 80px;
    height: 80px;
    justify-content: center;
}
.cajita3{
    border: darkkhaki;
    background-color: violet;
    width: 80px;
    height: 80px;
    display: end;
}